# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
*.ts

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
*.local
